[submodule "themes/zola_easydocs_theme"]
	path = themes/zola_easydocs_theme
	url = ../../wykies/zola_easydocs_theme.git
[submodule "sass"]
	path = sass
	url = ../../wykies/docs_sass.git
[submodule "themes/abridge"]
	path = themes/abridge
	url = https://github.com/jieiku/abridge.git
