name: Deploy Prod

on:
  push:
    branches:
      - main      

jobs:
  build_and_deploy_prod:
    runs-on: ubuntu-latest    
    steps:
      - name: Checkout main
        uses: actions/checkout@v4
        with:
          submodules: recursive
      - name: Build and deploy
        uses: wykies/zola-deploy-action@master
        env:
          OUT_DIR: docs
          BUILD_DIR: .
          PAGES_BRANCH: gh-pages
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
